<div class="container-fluid tax-page">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="tabs-section">
                <button class="btn btn-tabs">Tax Calculator</button>
                <button class="btn btn-tabs">Bill manager</button>
            </div>

            <div class="gross-input">
                <div class="form-group">
                    <label for="grossSalary">Gross Salary</label>
                    <input type="text" class="form-control" name="grossSalary">
                </div>
            </div>

            <div class="result-section">
                <div class="d-flex justify-content-between">
                    <h4>Taxable income</h4>
                    <span class="d-inline">ksh 0</span>
                </div>

                <div class="d-flex justify-content-between">
                    <h4>Net Salary</h4>
                    <span class="d-inline">ksh 0</span>
                </div>

                <div class="d-flex justify-content-between">
                    <h4>PAYE</h4>
                    <span class="d-inline">ksh 0</span>
                </div>

                <div class="d-flex justify-content-between">
                    <h4>NSSF Contribution</h4>
                    <span class="d-inline">ksh 0</span>
                </div>
                
                <div class="d-flex justify-content-between">
                    <h4>Tax Before Relief</h4>
                    <span class="d-inline">ksh 0</span>
                </div>

                <div class="d-flex justify-content-between">
                    <h4>Personal Relief</h4>
                    <span class="d-inline">ksh 0</span>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>NHIF Contribution</h4>
                    <span class="d-inline">ksh 0</span>
                </div>
            </div>
        </div>
    </div>
</div>
